.products-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90vw;  
  margin: 0 auto;
  margin-top: 20px;
}

.left-products h1 {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.left-products {
  width: 30%; /* Linke Seite bekommt mehr Platz */
  position: relative;
}

.categories-div {
  margin-top: 40px;
  background-color: rgb(164, 161, 161);
  border-radius: 20px;
  width: 250px;
}

.categories-div li {
  margin: 10px auto;
}
.categories-div li:first-child {
    padding-top: 20px;
}
  .categories-div li:last-child {
    padding-bottom: 20px;
}

.right-products {
  width: 70%; /* Rechte Seite passt sich entsprechend an */
}

.filter h1 {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.right-products{
   margin-bottom: 20px;
}

/* .products-div ul{
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: center;
} 
*/

/*.products-div ul li{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 10px; 
  flex: 1 1 300px;
  flex-wrap: wrap;
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px); 
  box-sizing: border-box; 
}
*/
.products-div ul {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
 }

.products-div ul li {
  grid-row: span;
  grid-column: span;
}

.products-div ul li img{
  width: 100%;
  height: 450px;
  object-fit:fill;
  border-radius: 10px;
}

.heart-icon-div {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: aliceblue;
  width: 40px;
}

.products i.fa-heart {
  color: white;
  font-size: 20px; /* Größe des Icons */
  margin-top: 10px; /* Abstand nach oben */
  cursor: pointer; /* Zeigt an, dass es klickbar ist */
  transition: transform 0.3s ease;
}

.products i.fa-heart:hover {
  transform: scale(1.2); /* Vergrößert das Icon beim Hover */
}

.categories-div li{
  list-style-type: none;
  margin-left: 20px;
}

.right-products {
  border-radius: 20px;
}

.right-products:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgb(164, 161, 161);
  transition: all 0.3s ease-in-out;
}

.right-products img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

@media (max-width: 768px) {
  .products-page {
    flex-direction: column;
    align-items: center;
  }

  .categories-div {
    background-color: rgb(164, 161, 161);
    border-radius: 20px;
    transform: translateX(-25%);
  }
  .categories-div li:first-child {
    padding-top: 20px;
  }
  .categories-div li:last-child {
    padding-bottom: 20px;
  }

  .products-div ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
 }

}