<div class="navbar">
  <div class="navbar-div">
    <h1><a href="../pages/index.html">Poppay</a></h1>
    <a href="../pages/index.html"><img src="../assets/img/poppaylogo1.png"></a>
  </div>
  <ul class="navbar-ul">
    <li><a href="../pages/index.html">main</a></li>
    <li><a href="../pages/products.html">products</a></li>
    <li><a href="../pages/contact.html">contact</a></li>
    <li><i class="fa-solid fa-cart-shopping cart"></i></li>
    <div class="cart-quantity js-cart-quantity">0</div>
  </ul> 
</div>