<div class="navbar">
  <div class="navbar-div">
    <h1><a href="../pages/index.html">Poppay</a></h1>
    <a href="../pages/index.html"><img src="../assets/img/poppaylogo1.png"></a>
  </div>
  <ul class="navbar-ul">
    <li><a href="../pages/index.html">main</a></li>
    <li><a href="../pages/products.html">products</a></li>
    <li><a href="../pages/contact.html">contact</a></li>
    <li class="dropdown-wrapper"><a href="../pages/login.html"><i class="fa-solid fa-user js-user-icon"></i></a>
      <div class="div-dropdown" style="position: relative;">
        <ul class="dropdown">
          <li><a href="../pages/login.html">Login</a></li>
          <li><a href="../pages/register.html">Register</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="../pages/checkout.html"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </li>
    <div class="cart-quantity js-cart-quantity">0</div>
  </ul> 
</div>